body {
    background-color: #DCF2F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    color: #DCF2F1;
    background-color: #365486;
}

header h4 {
    color: #0F1035;
}

header p {
    margin-top: -15px;
    color: #0F1035;
    font-size: smaller;
    margin-bottom: 20px;
}

.boxluaspersegi {
    background-color: white;
    border: solid #7FC7D9;
    border-radius: 50px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
    height: 150px;
    margin: auto;
}

.boxluaspersegi:hover {
    background-color: rgb(192, 227, 248);
}

.inputSection {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
}
#lblsquareside {
    margin: auto;
}
#squareside {
    font-size: medium;
    margin-top: 10px;
    outline: none;
    border-radius: 10px;
    border: solid #7FC7D9;
    padding: 10px;
    background-color: #DCF2F1;
}

#squareside:focus {
    border: solid #365486;
}

button {
    background-color: #365486;
    color: #DCF2F1;
    font-size: medium;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    
}
button:hover {
    background-color: #2c2e68;
}
button:active {
    background-color: #0F1035;
    transform: translateY(2px);
}

#hitungbutton {
    margin-left: 355px;
}
#hitungbutton.reset {
    background-color: red;
    color: white;
}
#hitungbutton.reset:hover {
    background-color: rgb(204, 4, 4);
}
#hitungbutton.reset:active {
    background-color: rgb(151, 1, 1);
}