body {
    background-color: #DCF2F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    color: #DCF2F1;
    background-color: #365486;
}

header h4 {
    color: #0F1035;
}

header p {
    margin-top: -15px;
    color: #0F1035;
    font-size: smaller;
    margin-bottom: 20px;
}

.inputSection {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    
}

#squareside {
    margin-top: 10px;
    outline: none;
    border-radius: 10px;
    border: solid #DCF2F1;
    padding: 10px;
}

#squareside:focus {
    border: solid #7FC7D9;
}

button {
    background-color: #365486;
    color: #DCF2F1;
    font-size: medium;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    
}
button:hover {
    background-color: #2c2e68;
}
button:active {
    background-color: #0F1035;
    transform: translateY(2px);
}

#hitungbutton {
    margin-left: 200px;
}

#resetbutton {
    margin-right: 200px;
}